/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  /* max-width: 100%; */
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* remove button styles */

button{
    all: unset;
}

/* ---------------------------------------- */

/* helpers */

:root{
    --p-violet:hsl(257, 40%, 49%);
    --p-softMegenta:hsl(300, 69%, 71%);
}

/* general styling */

body{
    background-color: var(--p-violet);
    background-image: url(./img/bg-mobile.svg);
    background-repeat: no-repeat;

    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: white;

    padding: 2.5rem 2.25rem;
}

@media (min-width:1440px){
    body{
        background-image: url(./img/bg-desktop.svg);
        background-repeat: no-repeat;

        text-align: left;

        padding: 4rem 5rem;
    }
}
/* typography */

h1{
    font-size: 1.5rem;
}

p{
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
}

@media (min-width:1440px){
    h1{
        font-size: 2.5rem;
    }

    p{
        font-size: 1.125rem;
    }
}

/* button */

button{
    font-size: 0.75rem;
    color: var(--p-violet);

    background-color: white;
    padding: 0.7rem 4.5rem;
    border-radius: 2rem;

    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.269022);
}

button:hover{
    color: white;

    background-color: var(--p-softMegenta);
    cursor: pointer;
}

@media (min-width:1440px){
    button{
        font-size: 1.125rem;

        padding: 1rem 4rem;
    }
}

/* socials */

.socials{
    display: flex;
    justify-content: center;
    gap:1.375rem;
}

a{
    all: unset;

    display: flex;
    justify-content: center;
    align-items: center;
}

i{
    color: white;
    width: 1rem;
    height: auto;

    /* border-radius: 50%;
    border: solid white 1px;

    padding: 0.5rem 1rem 0.5rem 1rem; */
}

i:hover{
    color: var(--p-softMegenta);
    cursor: pointer;
}

@media (min-width:1440px){
    i{
        width: 1.5rem;
        height: auto;
    }
}

/* header */

header img{
    width: 7.5rem;
}

@media (min-width:1440px){
    header img{
        width: 12.5rem;
    }
}

/* main */

main{
    margin-top: 4rem;
}

.bottom{
    margin-top: 3.75rem;
}

p{
    margin-top: 1rem;
}

button{
    margin-top: 1.5rem;
}

@media (min-width:1440px){
    main{
        display: flex;
        flex-direction: row;
        width: 100%;
        gap: 3.75rem;

        margin-top: 6.25rem;
    }

    .top{
        width: 100%;
    }
}

/* footer */

footer{
    margin-top: 4rem;
}

@media (min-width:1440px){
    footer{
        margin-top: 1.5rem;
        float: right;
    }
}